.header {
    color: #ffffff;
    background-color: blue;
    padding: 2em 0 2em 2em;
}

.nav {
    background-color: yellow;
    display: grid;
    padding: 2em 0 1em 0;
    text-align: center;
    grid-auto-flow: column;
    }

.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.main {
    color: #ffffff;
    background-color: rgb(2, 2, 95);
}

.aside {
    background-color: rgb(127, 249, 97);
}

.footer {
    color: #ffffff;
    background-color: rgb(16, 83, 16);
}